@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; 
*/

/* 
? --Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
? --Whitespace Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --light: #FAFAFA;
  --dark: #000000;
  --gray: #BDBDBD;
  --gray-darker: #A9A9A9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-family: 'PT Serif', serif; 
  font-size: 3.6rem;
  font-weight: 700;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
main {
  max-width: 110rem;
  margin: 0 auto;
  padding: 12rem 0;
}
.text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 9rem;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 9.6rem;
  column-gap: 8rem;
}
.img-box {
  position: relative;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.crew-name {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
.crew-role {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  display: block;
  top: 0;
  right: -7rem;
  transform: rotate(90deg);
}
footer {
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  text-align: center;
  padding: 1.2rem 2.4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray);
}
.user-footer a, .user-footer a:visited {
  color: var(--gray-darker);
  text-decoration: none;
}
.username {
  font-weight: 700;
  text-decoration: underline;
}